/* CART CSS */

.my-cart{
    display: grid;
    justify-content: center;
    margin: 4rem;
    grid-column-gap: 4rem;
    grid-template-columns: 60% auto;
}
.font-size{
    font-size: 3rem;
    color: var(--text-color);
}
.cart_img{
    position: relative;
    width: 15rem;
    height: 19.5rem;
    border-radius: 8px;
}
.horizontal-card {
    width: 100%;
    height: 24rem;
    position: relative;
    color: var(--card-text);
    /* padding: 0 23rem; */
    background-color: var(--card-background-color);
}
.game-tag{
    background-color: #575555;
    width: fit-content;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    font-family: monospace;
}
.action-btn {
    position: absolute;
    margin-top: -2rem;
    display: flex;
    gap: 1rem;
    bottom: 0%;
    right: 0%;
}
.card-header{
    margin-right: 3rem;
    margin-left: -9rem;
}
.card-text {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.price {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
.btn-solid {
    background-color: none
}
.badge {
    position: absolute;
    width: 15rem;
    height: 1rem;
    background-color: var(--card-badge);
    top: 86.3%;
    text-align: center;
    color: var(--card-text);
}
.btn{
    margin-left: -4rem;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    text-underline-position: under;
    text-decoration-line: underline;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    color: rgba(245, 245, 245, 0.6);
    padding: 0rem;
}
.empty-cart{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* 
Cart-summary CSS
*/
.cart-summary{
    color: var(--text-color);
    padding: -1rem 5rem;
    max-width: fit-content;
}
.cart-summary-header{
    position: relative;
    padding: 1rem;
    font-size: 2rem;
}
.quantity-box{
    display: flex;
    font-size: 17px;
    right: 9%;
    top: 69%;
    position: absolute;
    width: 4rem;
    border-radius: 20px;
    border: 2px solid #b5b3b2;
    justify-content: center;
    align-items: center;
}
.cart-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cart-items{
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 1rem;
}
.cart-summary-subtotal{
    padding: 2rem;
}
.cart-elements{
    padding: 5px 1rem;
    width: 35rem;
}
.cart-btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 1rem 5rem;
    border-radius: 8px;
    background-color:var(--primary-color);
    border: none;
    font-weight: 600;
    color: white;
}
.txt-empty-cart{
    margin-bottom: 2rem;
}
.tax-color{
    color: var(--card-small-txt-color);
}
.add-on-btns:hover{
    opacity: 0.5;
}
.add-on-btns{
    color: azure;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0px 12px;
    border: none;
    /* border-bottom: 3px solid white; */
    display: flex;
}
.qty-name-tag{
    position: absolute;
    right: 49%;
}
.add-on-counter{
    margin-left: 5rem;
    display: flex;
    height: 27px;
    padding: 0rem -0.9rem;
    background-color: #858585;
    font-weight: 600;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}